<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <style>
        body{
            font-family: sans-serif;
        }
      .data{
         text-align: center;
         margin-bottom: 20px;
         }

       h1{
        font-size: 50px;
        color: yellow;
          }
table{
    border-collapse: collapse;
}
a{
    text-decoration: none;
    
}
.total{
    border: 2px solid;
    width: 60%;
    margin:auto;
    background-color:black;
    border-radius: 25px;
    margin-top: 50px;
    padding-bottom: 50px;
}
.table{
    text-align: center;
}
table{
    margin:auto;
    font-size: 25px;
}
thead{
    background-color:green;
    color: white;
}
th,td{
    padding: 7px;
}
h2{
    font-size: 40px;
    color:red;
    text-decoration: underline;
}
label{
    font-size: 25px;
    color: white;
}
input{
    font-size: 25px;
}
a{
    background-color:blue;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
button{
    font-size: 25px;
    background-color: blue;
    color: white;
    border: none;
    padding: 3px;
}

    </style>
</head>
<body >
    <div class="total">
    <h1 class="data">Generate Short URL</h1>
    <div class="data">
        <form action="/url" method="post">
            <label>Enter Your URL : </label>
            <input type="text" name="url" placeholder="https://www.xyz.com">
            <button type="submit">Generate URL</button>
            </form>
    </div>
</div><br><br>
    <div class="table">
        <h2>All Short URL</h2>
        <table border="1px">
            <thead>
                <tr>
                <th>S.No</th>
                <th>Short ID</th>
                <th>GoTo</th>
                <th>Total Click</th>
                <th>Original URL</th>
                </tr>
            </thead>
            <% if(locals.urls) { %>
            <tbody>
                <% urls.forEach((url,index) => {%>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= url.ShortID %></td>
                    <td><a href= "http://localhost:9100/url/<%= url.ShortID %>" target = "_blank">Click</a></td>
                    <td><%= url.VisitedHistory.length %></td>
                    <td><%= url.RedirectURL %></td>

                    
                </tr>
                <% });%>
            </tbody>
            <% } %>
        </table>
    </div>
</body>
</html>